### Daum Exchange
- `https://finance.daum.net`
- status code: 4xx
- setting headers

In [2]:
import requests
import pandas as pd

In [10]:
# URL 
url = 'https://finance.daum.net/api/exchanges/summaries'

In [22]:
# request(url) > response(json)
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36',
          'referer': 'https://finance.daum.net/exchanges'}
response = requests.get(url, headers=headers)
response

In [26]:
response.text[:500]

'{"data":[{"symbolCode":"FRX.KRWUSD","date":"2024-09-20 11:56:00","currencyCode":"USD","currencyName":"달러","currencyUnit":1,"country":"미국","region":{"korName":"아메리카","engName":"America"},"name":"미국 (USD/KRW)","recurrenceCount":267,"basePrice":1331.200,"change":"RISE","changePrice":1.200,"changeRate":9.022556E-4,"ttBuyingPrice":1318.200,"ttSellingPrice":1344.200,"cashBuyingPrice":1354.490,"cashSellingPrice":1307.910,"tcBuyingPrice":null,"fcSellingPrice":null,"exchangeCommission":6.7699100000,"usDo'

In [36]:
# json > list, dict > DataFrame
data = response.json()['data']
df = pd.DataFrame(data)[['currencyCode', 'currencyName', 'country', 'basePrice']]
df.tail(3)

   currencyCode currencyName country  basePrice
39          KZT           텡게   카자흐스탄       2.78
40          QAR           리얄     카타르     365.14
41          TRY           리라    튀르키예      39.05