<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/title.png' width=500/></center>

# 학습 목표

- MySQL에 연결하여 데이터를 가져올 수 있습니다.

### 1.라이브러리 설치

- MySQL 연결을 위해 pymysql 라이브러리를 설치합니다.

In [ ]:
!pip install pymysql

- 암호화 모듈을 설치한 후 런타임을 재시작합니다.(아나콘다의 경우 설치 불필요)

In [ ]:
# !pip install cryptography

### 2.라이브러리 불러오기

- 사용할 라이브러리를 불러옵니다.

In [ ]:
# 라이브러리 불러오기
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### 3.MySQL 연결


- 연결 관련 정보를 지정하여 MySQL에 연결합니다.
- 관련 정보와 권한을 얻기 위해서 서버 관리자의 협조가 필요할 수 있습니다.

In [ ]:
# MySQL 연결
user = '사용자'
password = '암호'
host = '호스트'
database = '데이터베이스'

connect_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'
mysql = create_engine(connect_string)

### 4.데이터 읽어오기

- 데이터를 조회할 쿼리문을 작성합니다.(쿼리문 학습 필요)
- read_sql 함수를 사용해서 쿼리를 실행해 그 결과를 가져옵니다.
- 가져온 결과는 자동으로 데이터프레임이 됩니다.

**예제1) 조건에 맞는 데이터 가져오기**

In [ ]:
# 쿼리문
sql = """
SELECT customer_name, customer_id, IF(gender='M', '남자', '여자') AS gender, 
       phone, city, register_date, point 
    FROM customer
    WHERE point >=500000
    ORDER BY customer_name ASC
"""

# 데이터프레임 만들기
data = pd.read_sql(sql, con=mysql) 

# 확인
data.head()

**예제2) 집계 결과 가져오기**

In [ ]:
# 쿼리문
sql = """
SELECT city AS 지역, 
       SUM(point) AS 포인트합, 
       GROUP_CONCAT(customer_name ORDER BY customer_name ASC) AS 고객명 
    FROM customer
    WHERE YEAR(register_date) = 2021 AND point > 0
    GROUP BY city
    ORDER BY 포인트합 DESC
"""

# 데이터프레임 만들기
data = pd.read_sql(sql, con=mysql) 

# 확인
data.head(10)

<center><img src='https://raw.githubusercontent.com/Jangrae/img/master/end.png' width=300/></center>